*{
    box-sizing: border-box;
    background-color: rgb(55 65 81);
}
.App{
    text-align: center;
    display: flex;
    justify-content: center;
    width:100%;
    height: min-content;
    align-items: center;
    
}